h3,
h4{
  text-align: center;
}

.container{
  margin: 2rem auto;
}

.movieImage{
  max-width: 500px;
  margin: 0 auto;
}

.loginMessage{
  text-align: center;
}

.reservationDiv{
  margin: 0 auto;
  justify-content: center;
  max-width: 400px;
}
.submitReservation{
  display: block;
  margin: 0 auto;
}

.movie-details{
  max-width: 800px;
  margin: 4rem auto;
}